@import './variables';

@font-face {
  font-family: 'Comfortaa';
  src: url('~assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

body {
  font-family: 'Comfortaa';
  font-size: $font-size-default;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
