// Colors

$color-primary: #1a5cff;
$color-background: #212121;
$color-secondary-background: #2e2e2e;
$color-success: #46c93a;
$color-danger: #ff4757;
$color-warning: #ff8c00;
$color-font: #ffffff;

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Font sizes

$font-size-small: 12px;
$font-size-default: 16px;
$font-size-mid: 20px;
$font-size-big: 32px;
