<template>
  <v-row justify="center">
    <v-dialog
      max-width="800"
      :value="true"
      @click:outside="$emit('onCloseModal')"
    >
      <v-card justify="center">
        <v-card-title class="modal-writeup__title">
          Создание решения
        </v-card-title>
        <v-card-subtitle class="text-center">
          Здесь поддерживается Markdown
        </v-card-subtitle>
        <div class="container">
          <v-tabs v-model="state">
            <v-tab>Редактировать</v-tab>
            <v-tab>Предпросмотр</v-tab>
          </v-tabs>
          <div class="row">
            <div class="col-12">
              <v-textarea
                v-if="state === 0"
                v-model="text"
                outlined
              ></v-textarea>
              <div v-if="state === 1" v-html="html"></div>
            </div>
          </div>
        </div>
        <v-card-actions class="pb-6">
          <v-spacer></v-spacer>
          <v-btn @click.native="$emit('onCloseModal')"> Отменить </v-btn>
          <v-btn color="primary" @click="handleCreateClick"> Создать </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';

import { mdToHTML } from '@/utils/mdToHTML';

interface IData {
  text: string;
  state: number;
}

interface IMethods {
  handleCreateClick: () => void;
}

interface IComputed {
  html: string;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  data() {
    return {
      text: '',
      state: 0,
    };
  },
  computed: {
    html() {
      return mdToHTML(this.text);
    },
  },
  methods: {
    handleCreateClick() {
      this.$emit('onCreate', this.text);
      this.text = '';
      this.$emit('onCloseModal');
    },
  },
});
</script>

<style lang="scss" scoped>
.modal-writeup {
  &__title {
    display: flex;
    justify-content: center;
  }
}
</style>
