<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :style="getStyles()"
    :width="width"
    :height="height"
    :viewBox="viewBox"
    :aria-labelledby="icon"
  >
    <title :id="icon" lang="en">{{ icon }}</title>
    <g :fill="iconColor">
      <path
        v-for="(arrayVector, index) of arrayVectors"
        :key="index"
        :d="arrayVector"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import icons from '../assets/icons/icons.json';

import { IconType } from '../index';

interface IData {}

interface IMethods {
  getPath: () => string | string[];
  getStyles: () => string;
}

interface IComputed {
  arrayVectors: string[];
}

interface IProps {
  viewBox: string;
  width: number | string;
  height: number | string;
  iconColor: string;
  icon: IconType;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  name: 'BaseIcon',
  props: {
    viewBox: { type: String, default: '0 0 24 24' },
    width: { type: [Number, String], default: 18 },
    height: { type: [Number, String], default: 18 },
    iconColor: { type: String, default: 'currentColor' },
    // eslint-disable-next-line vue/require-default-prop
    icon: String as PropType<IconType>,
  },
  computed: {
    arrayVectors() {
      const path = this.getPath();
      if (Array.isArray(path)) {
        return [...path];
      }
      return [path];
    },
  },
  methods: {
    getPath() {
      // @ts-ignore
      return icons[this.icon];
    },
    getStyles() {
      return `min-width: ${this.width}; min-height: ${this.height}`;
    },
  },
});
</script>
