<template>
  <div class="chip" @click.prevent="$emit('click')"><slot></slot></div>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BaseChip',
});
</script>
<style lang="scss" scoped>
.chip {
  display: inline-block;
  border: 1px solid $color-font;
  border-radius: 10px;
  padding: 2px 14px;
  font-weight: normal;
  transition: all ease-in 0.3s;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: $color-font;
    color: $color-background;
  }
}
</style>
