<template>
  <div class="raiting">
    <button
      class="raiting__button raiting__button_left"
      @click.prevent="$emit('onDecrease')"
    >
      -
    </button>
    <div :class="`raiting__counter raiting__counter_${color}`">
      {{ counter }}
    </div>
    <button
      class="raiting__button raiting__button_right"
      @click.prevent="$emit('onIncrease')"
    >
      +
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

type RatingColor = 'green' | 'red' | 'white';

interface IData {}

interface IMethods {}

interface IComputed {
  color: RatingColor;
}

interface IProps {
  counter: number;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    counter: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    color() {
      return this.counter > 0 ? 'green' : this.counter < 0 ? 'red' : 'white';
    },
  },
});
</script>

<style lang="scss" scoped>
.raiting {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 180px;

  &__button {
    // padding: 10px;
    background-color: $color-background;
    width: 45px;
    font-size: $font-size-mid;
    padding-top: 4px;

    &_left {
      border-radius: 25px 0 0 25px;
      margin-right: 2px;
    }

    &_right {
      border-radius: 0 25px 25px 0;
      margin-left: 2px;
    }
  }

  &__counter {
    background-color: $color-background;
    padding-top: 4px;
    font-size: $font-size-mid;
    font-weight: bold;
    width: 90px;
    text-align: center;

    &_green {
      color: $color-success;
    }
    &_red {
      color: $color-danger;
    }
  }
}
</style>
