<template>
  <div class="counter" :style="counterSizes">
    <div class="counter__content-wrp">
      <div class="counter__content">
        <div class="counter__icon">
          <slot name="icon"></slot>
        </div>
        <span :class="['counter__value', valueTextSize]">{{ count }}</span>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

import { ISizes } from '../index';

interface IData {}

interface IMethods {}

interface IComputed {
  counterSizes: ISizes;
  valueTextSize: string;
}

interface IProps {
  count: number | string;
  size: number | string;
  textSize: string;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    count: {
      type: [Number, String],
      required: true,
    },
    size: {
      type: [Number, String],
      default: 165,
    },
    textSize: {
      type: String,
      default: 'average',
    },
  },
  computed: {
    counterSizes(): ISizes {
      return { width: this.size + 'px', height: this.size + 'px' };
    },
    valueTextSize(): string {
      return `counter__value_${this.textSize}-size`;
    },
  },
});
</script>
<style lang="scss" scoped>
.counter {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid $color-primary;

  &__icon {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-wrp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__value {
    &_samll-size {
      font-size: $font-size-default;
    }

    &_average-size {
      font-size: $font-size-mid;
    }

    &_big-size {
      font-size: $font-size-big;
    }
  }
}
</style>
