<template>
  <div class="fetcher">
    <div v-if="loading" class="loader">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <slot v-else-if="error" name="error" />
    <slot v-else :data="data" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { AxiosPromise } from 'axios';

interface IData {
  loading: boolean;
  error: any;
  data: unknown;
}

interface IMethods {
  fetch: () => void;
}

interface IComputed {}

interface IProps {
  apiMethod: (args: unknown[]) => AxiosPromise;
  initialValue: number | string | unknown[] | any;
  arguments: unknown[];
  callOnlyOnChange: boolean;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    apiMethod: {
      type: Function,
      required: true,
    },
    initialValue: {
      type: [Number, String, Array, Object],
      default: null,
    },
    arguments: {
      type: Array,
      default: () => [],
    },
    callOnlyOnChange: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      error: null,
      data: this.initialValue,
    };
  },
  watch: {
    arguments() {
      this.fetch();
    },
  },
  created() {
    if (this.callOnlyOnChange) return;
    this.fetch();
  },
  methods: {
    async fetch() {
      this.loading = true;
      const { apiMethod } = this;

      try {
        // @ts-ignore
        const { data } = await apiMethod(...this.arguments);
        this.data = data;
        this.$emit('onSuccess', data);
      } catch (error) {
        this.error = error;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>
<style lang="scss" scoped>
.fetcher {
  text-align: center;
  width: 100%;
}

.loader {
  display: inline-block;
}
</style>
