<template>
  <div
    :class="['file-uploader', isDragZone ? 'file-uploader_dragged' : '']"
    @drop.prevent="drop"
    @dragover.prevent="dragover"
    @dragleave.prevent="dragleave"
  >
    <input
      id="file-uploader-input"
      ref="file"
      type="file"
      class="file-uploader__input"
      @change="onChange"
    />
    <div v-if="file" class="file-uploader__file">
      <span>{{ file.name }}</span>
      <v-btn text color="error" @click.prevent="resetFile">Удалить</v-btn>
    </div>
    <label v-else for="file-uploader-input" class="file-uploader__content">
      <BaseIcon view-box="0 0 40 40" width="40" height="40" icon="file" />
      <span>{{ placeholder }}</span>
    </label>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import BaseIcon from './BaseIcon.vue';

interface IData {
  file: File | null;
  isDragZone: boolean;
}

interface IMethods {
  onChange: () => void;
  resetFile: () => void;
  dragover: () => void;
  dragleave: () => void;
  drop: (e: Event) => void;
}

interface IComputed {}

interface IProps {
  placeholder: string;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    BaseIcon,
  },
  props: {
    placeholder: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      file: null,
      isDragZone: false,
    };
  },
  watch: {
    file() {
      this.$emit('upload', this.file);
    },
  },
  methods: {
    onChange() {
      if (!this.$refs.file) return;
      // @ts-ignore
      const file: HTMLInputElement = this.$refs.file;
      if (file && file.files) {
        this.file = file.files[0];
      }
    },
    resetFile() {
      this.file = null;
    },
    dragover() {
      this.isDragZone = true;
    },
    dragleave() {
      this.isDragZone = false;
    },
    drop(e: Event) {
      // @ts-ignore
      this.$refs.file.files = e.dataTransfer.files;
      this.onChange();
      this.dragleave();
    },
  },
});
</script>
<style lang="scss" scoped>
.file-uploader {
  width: 100%;
  height: 200px;
  border: dashed $color-font 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;

  &_dragged {
    background: rgba($color: #ffffff, $alpha: 0.2);
  }

  &__input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    & > span {
      margin-top: 15px;
      user-select: none;
    }
  }

  &__file {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
</style>
