<template>
  <div class="filter-list">
    <v-chip
      v-for="filter of filters"
      :key="filter"
      class="ml-3"
      color="primary"
      close
      @click:close="$emit('onFilterClick', filter)"
      >{{ filter }}</v-chip
    >
    <slot name="append-after"></slot>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

interface IData {}

interface IMethods {}

interface IComputed {}

interface IProps {
  filters: string[];
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    filters: {
      type: Array,
      required: true,
    },
  },
});
</script>
<style lang="scss" scoped>
.filter-list {
  span {
    text-transform: capitalize;
  }
}
</style>
