<template>
  <div class="filter-bar">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-2 mb-1 d-flex align-items-center">
        <MultipleSelection
          v-model="selectedCategories"
          :items="categories"
          label=" Категория"
          @onSelect="handleSelect"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-2 mb-1 d-flex align-items-center">
        <MultipleSelection v-model="selectedTags" :items="tags" label=" Теги" />
      </div>
      <div class="col-12 col-sm-6 col-md-2 mb-1 d-flex align-items-center">
        <MultipleSelection
          v-model="selectedDifficulties"
          :items="diffulutyLevels"
          label=" Сложность"
          @onSelect="handleSelect"
        />
      </div>
      <div class="col-12 col-sm-12 col-md-4 mb-1 d-flex align-items-center">
        <v-text-field
          v-model="searchQuery"
          label="Поиск"
          flat
          clearable
          hide-details
          background-color="#212121"
          outlined
          dense
          @click:clear="handleSearchClear"
        >
        </v-text-field>
      </div>
      <div class="col-12 col-sm-12 col-md-2 mb-1 d-flex align-items-center">
        <v-btn dense color="primary" @click.prevent="handleSearchInput"
          >Найти</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import MultipleSelection from '@/components/MultipleSelection.vue';

import { ChallengeCategory, ChallengeDifficulty } from '@/dataProvider';

interface IData {
  selectedCategories: ChallengeCategory[];
  selectedTags: string[];
  searchQuery: string;
  selectedDifficulties: ChallengeDifficulty[];
}

interface IMethods {
  handleSearchInput: () => void;
  handleSelect: () => void;
  handleSearchClear: () => void;
}

interface IComputed {}

interface IProps {
  categories: ChallengeCategory[];
  tags: string[];
  diffulutyLevels: ChallengeDifficulty[];
  updatedCategories: ChallengeCategory[];
  updatedTags: string[];
  updatedSearch: string;
  updatedDifficulties: ChallengeDifficulty[];
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    MultipleSelection,
  },
  props: {
    categories: {
      type: Array,
      default: () => [],
    },
    tags: {
      type: Array,
      default: () => [],
    },
    diffulutyLevels: {
      type: Array,
      default: () => [],
    },
    updatedCategories: {
      type: Array as PropType<ChallengeCategory[]>,
      default: () => [],
    },
    updatedTags: {
      type: Array,
      default: () => [],
    },
    updatedSearch: {
      type: String,
      default: '',
    },
    updatedDifficulties: {
      type: Array as PropType<ChallengeDifficulty[]>,
      default: () => [],
    },
  },
  data() {
    return {
      selectedCategories: [],
      selectedTags: [],
      searchQuery: '',
      selectedDifficulties: [],
    };
  },
  watch: {
    updatedCategories() {
      this.selectedCategories = this.updatedCategories;
    },
    updatedTags() {
      this.selectedTags = this.updatedTags;
    },
    updatedSearch() {
      this.searchQuery = this.updatedSearch;
      this.$emit('onSearchQueryChange', this.searchQuery);
    },
    updatedDifficulties() {
      this.selectedDifficulties = this.updatedDifficulties;
    },
    selectedCategories() {
      this.$emit('onCategoryChange', this.selectedCategories);
    },
    selectedTags() {
      this.$emit('onTagChange', this.selectedTags);
    },
    selectedDifficulties() {
      this.$emit('onDifficultyChange', this.selectedDifficulties);
    },
  },
  methods: {
    handleSearchInput() {
      this.$emit('onSearchQueryChange', this.searchQuery);
    },
    handleSelect() {
      this.$emit('onChangeSomeValue');
    },
    handleSearchClear() {
      this.searchQuery = '';
      this.$emit('onSearchQueryChange', this.searchQuery);
    },
  },
});
</script>

<style lang="scss">
.filter-bar {
  background-color: $color-secondary-background;
  padding: 20px;
  border-radius: 20px;

  .v-select__selection {
    text-transform: capitalize;
  }
}

.v-list-item__title {
  text-transform: capitalize;
}
</style>
