<template>
  <v-select
    v-model="content"
    :items="items"
    :label="label"
    flat
    hide-details
    background-color="#212121"
    outlined
    dense
    multiple
    @input="handleChange"
  >
    <template #selection="{ item, index }">
      <span v-if="content.length === 1" class="text-capitalize">{{
        item
      }}</span>
      <span v-if="index === 1">{{ content.length }} +</span>
    </template>
  </v-select>
</template>
<script lang="ts">
import Vue from 'vue';

interface IData {
  content: string[];
}

interface IMethods {
  handleChange: () => void;
}

interface IComputed {}

interface IProps {
  items: string[];
  value: string[];
  label: string;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    items: {
      type: Array,
      required: true,
    },
    value: {
      type: Array,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      content: [],
    };
  },
  watch: {
    value() {
      this.content = this.value;
    },
  },
  methods: {
    handleChange() {
      this.$emit('input', this.content);
      this.$emit('onSelect');
    },
  },
});
</script>
