<template>
  <div class="partner-card">
    <img :src="partner.img" class="partner-card__img" />
    <div class="partner-card__body">
      <h3 class="partner-card__name">{{ partner.title }}</h3>
      <p class="partner-card__description">
        {{ partner.description }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import { ISponsor } from '~/dataProvider';

interface IData {}

interface IMethods {}

interface IComputed {}

interface IProps {
  partner: ISponsor;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    partner: {
      type: Object as PropType<ISponsor>,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
.partner-card {
  background-color: $color-secondary-background;
  border-radius: 20px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-out;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
  }

  &__img {
    border-radius: 20px;
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__body {
    padding: 10px 15px 20px 15px;
  }

  &__name {
    font-size: $font-size-mid;
  }

  &__description {
    margin: 0;
    font-size: $font-size-default;
  }
}
</style>
