<template>
  <div class="partner-card-list">
    <div class="row">
      <div
        v-for="partner of partners"
        :key="partner._id"
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"
      >
        <Partner :partner="partner" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import Partner from '~/components/Partner.vue';

import { ISponsor } from '~/dataProvider';

interface IData {}

interface IMethods {}

interface IComputed {}

interface IProps {
  partners: ISponsor[];
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    Partner,
  },
  props: {
    partners: {
      type: Array as PropType<ISponsor[]>,
      default: () => [],
    },
  },
});
</script>
