<template>
  <div class="profile-card">
    <span v-if="isMe" class="profile-card__user-settings">
      <button class="profile-card__user-settings-button" @click="openModal">
        <v-icon class="profile-card__user-settings-icon">mdi-cog</v-icon>
      </button>
    </span>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-center"
      >
        <div class="profile-card__user-avatar">
          <v-avatar size="128">
            <img :src="imgOrigin + '/' + user.avatar_path" />
          </v-avatar>
          <div v-if="isMe" class="profile-card__change-avatar-wrp">
            <div class="profile-card__change-avatar">
              <label class="profile-card__change-avatar-label"
                >Изменить
                <input
                  ref="file"
                  class="profile-card__change-avatar-input"
                  type="file"
                  @change="handleFileUpload"
                />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <ProgressBar
              :solved-by-user-tasks="Number(user.users_score)"
              :all-tasks="Number(user.total_score)"
            />
          </div>
        </div>
        <div class="row mt-10">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center"
          >
            <span
              >Место: {{ user.place_in_scoreboard }} из
              {{ user.total_place }}</span
            >
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center"
          >
            <span>Количество очков: {{ user.users_score }}</span>
          </div>
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center"
          >
            <span>Никнейм: {{ user.username }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="isMe">
      <div class="row mt-5">
        <div
          class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 offset-sm-0 offset-md-2"
        >
          <div class="row">
            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center"
            >
              E-mail: {{ user.email }}
            </div>
            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center"
            >
              Ф.И.О: {{ user.full_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import ProgressBar from '@/components/ProgressBar.vue';

import { IUser } from '@/dataProvider';
import { getOrigin } from '@/utils/getOrigin';
import { changeAvatar } from '@/api/avatar';

import { FETCH_PROFILE } from '@/store/auth';

interface IData {
  showModal: boolean;
}

interface IMethods {
  openModal: () => void;
  handleFileUpload: () => void;
}

interface IComputed {
  imgOrigin: string;
}

interface IProps {
  isMe: boolean;
  user: IUser;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    ProgressBar,
  },
  props: {
    isMe: {
      type: Boolean,
      required: true,
      default: false,
    },
    user: {
      type: Object as PropType<IUser>,
      required: true,
    },
  },
  data() {
    return {
      showModal: false,
    };
  },
  computed: {
    imgOrigin() {
      return getOrigin();
    },
  },
  methods: {
    openModal() {
      this.$emit('openModalEvent');
    },
    async handleFileUpload() {
      // @ts-ignore
      const avatarFile = this.$refs.file.files[0] as File;

      if (!avatarFile) {
        return;
      }

      try {
        await changeAvatar(avatarFile);
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err);
      }

      this.$store.dispatch(FETCH_PROFILE);
    },
  },
});
</script>

<style lang="scss" scoped>
.profile-card {
  background-color: $color-secondary-background;
  border-radius: 20px;
  padding: 20px 20px 50px 20px;
  position: relative;

  &__user {
    &-settings {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 15px;
      background-color: $color-primary;
      border-radius: 20px 0 20px 0;
      padding: 5px 10px;
      &-icon {
        cursor: pointer;
        &:hover {
          color: rgba($color: #ffffff, $alpha: 0.75);
        }
      }
    }

    &-avatar {
      display: flex;
      flex-direction: column;
    }
  }

  &__change-avatar {
    &-wrp {
      display: flex;
      justify-content: center;
    }

    display: flex;
    flex-direction: column;

    &-label {
      cursor: pointer;
    }

    &-input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &-button {
      display: flex;
    }
  }
}
</style>
