<template>
  <nuxt-link :to="profileLink" class="profile-link">
    @{{ username }}
  </nuxt-link>
</template>
<script lang="ts">
import Vue from 'vue';

interface IData {}

interface IMethods {}

interface IComputed {
  profileLink: string;
}

interface IProps {
  username: string;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  name: 'ProfileLink',
  props: {
    username: {
      type: String,
      required: true,
    },
  },
  computed: {
    profileLink() {
      return `/profile/${this.username}`;
    },
  },
});
</script>
<style lang="scss" scoped>
.profile-link {
  display: inline-block;
  padding: 3px;

  font-weight: bold;

  transition: 0.2s ease-out all;

  &:hover {
    transform: scale(1.1);
  }
}
</style>
