<template>
  <div class="progress-bar">
    <div
      class="progress-bar__background"
      :style="{
        left: value + '%',
        width: remainingPart + '%',
      }"
    ></div>
    <div
      class="progress-bar__determinate"
      :style="{
        width: value + '%',
      }"
    ></div>
    <div class="progress-bar__content">
      {{ `${solvedByUserTasks} / ${allTasks}` }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

interface IData {}

interface IMethods {}

interface IComputed {
  value: number;
  remainingPart: number;
}

interface IProps {
  solvedByUserTasks: number;
  allTasks: number;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    solvedByUserTasks: {
      type: Number,
      required: true,
    },
    allTasks: {
      type: Number,
      required: true,
    },
  },
  computed: {
    value() {
      return (this.solvedByUserTasks * 100) / this.allTasks;
    },
    remainingPart() {
      const { value } = this;
      if (value > 100) return 0;
      if (value < 0) return 100;
      return 100 - value;
    },
  },
});
</script>
<style lang="scss" scoped>
.progress-bar {
  position: relative;
  height: 30px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;

  &__background {
    background-color: $color-danger;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }

  &__determinate {
    height: inherit;
    left: 0;
    position: absolute;
    background-color: $color-success;
  }

  &__content {
    font-size: $font-size-mid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
