<template>
  <div class="task-header">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 task-header__counter">
        <div class="task-header__counter-body">
          <span class="task-header__title">Решили</span>
          <div>
            <Counter :count="numbersOfSolved" :size="100">
              <template #icon>
                <BaseIcon
                  view-box="0 0 24 24"
                  width="24"
                  height="24"
                  icon-color="white"
                  icon="people-outline"
                />
              </template>
            </Counter>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-7 task-header__info-1">
        <div class="task-header__info-item">
          <span class="task-header__info-title">Автор:</span>
          <ProfileLink :username="author" />
        </div>
        <div class="task-header__info-item">
          <span class="task-header__info-title">Сложность:</span>
          <span class="text-capitalize">{{ difficulty }}</span>
        </div>
        <div class="task-header__info-item">
          <span class="task-header__info-title">Первое решение:</span>
          <span>{{ firstToSolve ? firstToSolve : 'Никто не решил' }}</span>
        </div>
        <div class="task-header__info-item">
          <span class="task-header__info-title">Очки:</span>
          <span class="task-header__info-title_green">{{ points }}</span>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-2 task-header__complete">
        <div class="task-header__complete-body">
          <BaseIcon
            v-if="isCompleted"
            view-box="0 0 80 80"
            width="80"
            height="80"
            icon-color="#46C93A"
            icon="check-mark"
          />
          <BaseIcon
            v-else
            view-box="0 0 60 60"
            width="60"
            height="60"
            icon-color="#FF4757"
            icon="cross"
          />
        </div>
      </div>

      <div class="task-header__category">
        <span>{{ category }}</span>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';

import BaseIcon from '@/components/BaseIcon.vue';
import Counter from '@/components/Counter.vue';
import ProfileLink from '@/components/ProfileLink.vue';

import { ChallengeCategory, ChallengeDifficulty } from '~/dataProvider';

interface IData {}

interface IMethods {}

interface IComputed {}

interface IProps {
  numbersOfSolved: number | null;
  author: string;
  firstToSolve: string;
  points: number;
  tags: string[];
  isCompleted: boolean;
  category: ChallengeCategory;
  difficulty: ChallengeDifficulty;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    BaseIcon,
    Counter,
    ProfileLink,
  },
  props: {
    numbersOfSolved: {
      type: Number,
      required: true,
    },
    author: {
      type: String,
      required: true,
    },
    firstToSolve: {
      type: String || null,
      default: null,
    },
    points: {
      type: Number,
      required: true,
    },
    tags: {
      type: Array,
      required: true,
    },
    isCompleted: {
      type: Boolean,
      required: true,
    },
    category: {
      type: String as PropType<ChallengeCategory>,
      required: true,
    },
    difficulty: {
      type: String as PropType<ChallengeDifficulty>,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>
.task-header {
  position: relative;
  background-color: $color-secondary-background;
  border-radius: 20px;
  padding: 25px;
  text-align: left;

  &__counter {
    display: flex;
    justify-content: center;
    &-body {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: $font-size-mid;
    font-weight: bold;
  }

  &__info {
    &-1,
    &-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: $font-size-default;
    }
    &-title {
      &_green {
        color: $color-success;
      }
    }
  }

  &__category {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 30px;
    background-color: $color-primary;
    border-radius: 20px 0 20px 0;
  }

  &__complete {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $lg) {
  .task-header {
    padding: 10px;

    &__counter {
      order: 1;
    }
    &__complete {
      order: 2;
    }
    &__info-1 {
      order: 3;
    }
    &__info-2 {
      order: 4;
    }

    &__category {
      position: absolute;
      top: 0 !important;
      bottom: auto;
      padding: 5px 15px;
      background-color: $color-primary;
      border-radius: 0 20px 0 20px;
    }
  }
}
</style>
