<template>
  <nuxt-link class="task" :to="`/tasks/${task.shortname}`">
    <h3 class="task__title">
      {{ task.title }}
      <span class="task__points">{{ task.score }} очков</span>
    </h3>
    <span class="task__attribute">Опубликовано: {{ prettyDate }}</span>
    <span class="task__attribute"
      >Автор: <ProfileLink :username="task.author"
    /></span>
    <span class="task__attribute"
      >Сложность:
      <span class="text-capitalize">{{ task.difficulty_tag }}</span></span
    >
    <span
      v-if="task.tags"
      class="task__attribute task__tags"
      :style="{ maxWidth: `${tagsWidth}` }"
      >Теги:
      <BaseChip v-for="tag of task.tags" :key="tag" class="task__tag">{{
        tag
      }}</BaseChip>
    </span>
    <div v-if="task.solved" class="task__status">
      <BaseIcon
        view-box="0 0 80 80"
        width="80"
        height="80"
        icon-color="#46c93a"
        icon="check-mark"
      />
    </div>
    <div v-else class="task__status">
      <BaseIcon
        view-box="0 0 80 80"
        width="80"
        height="80"
        icon-color="#FF4757"
        icon="cross"
      />
    </div>
    <div ref="category" class="task__category">{{ task.category }}</div>
  </nuxt-link>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';
import { prettyDate as fnPrettyDate } from '@/plugins/date-prettify';

import BaseChip from '@/components/BaseChip.vue';
import BaseIcon from '@/components/BaseIcon.vue';
import ProfileLink from '@/components/ProfileLink.vue';

import { IChallenge } from '~/dataProvider';

interface IData {
  tagsWidth: string;
}

interface IMethods {}

interface IComputed {
  prettyDate: string;
}

interface IProps {
  task: IChallenge;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    BaseChip,
    BaseIcon,
    ProfileLink,
  },
  props: {
    task: {
      required: true,
      type: Object as PropType<IChallenge>,
    },
  },
  data() {
    return {
      tagsWidth: '70%',
    };
  },
  computed: {
    prettyDate() {
      return fnPrettyDate(this.task.challenge_created);
    },
  },
  mounted() {
    // @ts-ignore
    this.tagsWidth = `calc(100% - ${this.$refs.category.clientWidth + 15}px`;
  },
});
</script>
<style lang="scss" scoped>
.task {
  position: relative;
  background-color: $color-secondary-background;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;

  transition: all ease-out 0.3s;

  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  &__title {
    font-size: $font-size-mid;
    font-weight: normal;
  }

  &__points {
    font-size: $font-size-default;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
  }

  &__attribute {
    margin-top: 10px;
  }

  &__tag {
    margin-right: 10px;
    margin-top: 10px;
  }

  &__status {
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-50%);
  }

  &__category {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 30px;
    background-color: $color-primary;
    border-radius: 20px 0 20px 0;
  }
}

@media (max-width: $md) {
  .task {
    &__tags {
      max-width: 100% !important;
    }
    &__status {
      position: static;
      transform: unset;
      margin-top: 15px;
    }
  }
}
</style>
