<template>
  <div>
    <div class="row mb-6">
      <div
        v-for="task of tasks"
        :key="task.id"
        :class="`col-12 col-md-${columnSize} mb-4`"
      >
        <Task :task="task" />
      </div>
    </div>
    <div v-if="enablePagination" class="row justify-center">
      <v-pagination
        :value="numberedPage"
        class="my-4"
        :length="pageCount"
        @input="handlePaginationInput"
      ></v-pagination>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue';

import Task from '@/components/Task.vue';

import { IChallenge } from '@/dataProvider';
import { BootsrapColumnNumber } from '@/index';

interface IData {}

interface IMethods {
  handlePaginationInput: (page: number) => void;
}

interface IComputed {
  pageCount: number;
  numberedPage: number;
}

interface IProps {
  tasks: IChallenge[];
  tasksPerPage: number;
  totalCount: number;
  enablePagination: boolean;
  columnSize: BootsrapColumnNumber;
  currentPage: number | string;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    Task,
  },
  props: {
    tasks: {
      type: Array as PropType<IChallenge[]>,
      default: () => [],
    },
    tasksPerPage: {
      type: Number,
      default: 10,
    },
    totalCount: {
      type: Number,
      default: 10,
    },
    enablePagination: {
      type: Boolean,
      default: true,
    },
    columnSize: {
      type: Number as PropType<BootsrapColumnNumber>,
      default: 12,
    },
    currentPage: {
      type: [Number, String],
      default: 1,
    },
  },
  computed: {
    pageCount() {
      return Math.ceil(this.totalCount / this.tasksPerPage);
    },
    numberedPage() {
      return Number(this.currentPage) || 1;
    },
  },
  methods: {
    handlePaginationInput(page) {
      this.$emit('onPageChange', page);
    },
  },
});
</script>
