<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <h3 class="column__title">Secure Code Platform</h3>
          <div class="column__item"></div>
        </div>
        <div class="col-md-4 col-12">
          <h3 class="column__title">Информация</h3>
          <div class="column__item">
            <BaseIcon
              width="24"
              height="30"
              view-box="0 0 24 30"
              icon="document"
            />
            <span class="column__item_link">
              <a href="/info/privacy_policy" target="_blank"
                >Соглашение об обработке персональных данных</a
              >
            </span>
          </div>
          <div class="column__item">
            <BaseIcon
              width="24"
              height="30"
              view-box="0 0 24 30"
              icon="document"
            />
            <span class="column__item_link">
              <a href="/info/terms_of_service" target="_blank"
                >Пользовательское соглашение</a
              >
            </span>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <h3 class="column__title">Социальные сети</h3>
          <div class="column__item">
            <BaseIcon width="30" height="30" view-box="0 0 30 30" icon="send" />
            <a
              class="column__item_link"
              target="_blank"
              :href="`https://${telegram}`"
              >telegram</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue';

import BaseIcon from '@/components/BaseIcon.vue';

import { FETCH_CONTACTS, GET_TELEGRAM } from '@/store/contacts';

interface IData {}

interface IMethods {}

interface IComputed {
  telegram: string;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  name: 'TheFooter',
  components: {
    BaseIcon,
  },
  computed: {
    telegram() {
      return this.$store.getters[GET_TELEGRAM];
    },
  },
  created() {
    this.$store.dispatch(FETCH_CONTACTS);
  },
});
</script>

<style lang="scss" scoped>
.footer {
  background-color: $color-secondary-background;
  color: $color-font;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column {
  &__title {
    font-size: $font-size-mid;
    font-weight: bold;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 11px;

    &_link {
      display: block;
      color: $color-font;
      transition: color 0.3s ease-in;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }

    & svg {
      margin-right: 7px;
      display: flex;
    }
  }
}
</style>
