<template>
  <header class="header">
    <div class="container">
      <div class="col-12">
        <div class="header__navbar">
          <div class="header__navigation-wrp">
            <nuxt-link to="/" class="header__logo">scp</nuxt-link>
            <nav class="header__navigation">
              <ul class="header__navigation-list">
                <li
                  v-for="(navLink, index) of navLinks"
                  :key="index"
                  class="header__navigation-item"
                >
                  <nuxt-link
                    :to="navLink.link"
                    class="header__navigation-link"
                    >{{ navLink.title }}</nuxt-link
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__buttons">
            <v-btn text nuxt to="/profile/me"> Мой профиль </v-btn>
            <v-btn v-if="isLoggedIn" outlined @click="logout"> Выйти </v-btn>
            <v-btn v-else color="primary" nuxt to="/login"> Войти </v-btn>
          </div>
          <div class="header__burger">
            <button
              class="header__burger-button"
              @click.prevent="toggleMobileNavbar"
            >
              <BaseIcon width="48" height="48" icon="menu-burger" />
            </button>
          </div>
        </div>
        <!-- mobile header block -->
        <div v-if="isMobileNavbarVisible" class="header__navbar-mobile">
          <div class="header__navigation-wrp-mobile">
            <nav class="header__navigation-mobile">
              <ul class="header__navigation-list">
                <li
                  v-for="(navLink, index) of navLinks"
                  :key="index"
                  class="header__navigation-item-mobile"
                >
                  <nuxt-link
                    :to="navLink.link"
                    class="header__navigation-link"
                    >{{ navLink.title }}</nuxt-link
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__buttons-mobile">
            <v-btn text nuxt to="/profile/me"> Мой профиль </v-btn>
            <v-btn v-if="isLoggedIn" outlined @click="logout"> Выйти </v-btn>
            <v-btn v-else color="primary" nuxt to="/login"> Войти </v-btn>
          </div>
        </div>
        <!-- mobile header block end -->
      </div>
    </div>
  </header>
</template>
<script lang="ts">
import Vue from 'vue';

import BaseIcon from '@/components/BaseIcon.vue';

import { IPageLink } from '@/index';
import { LOGOUT, GET_LOGGED_IN } from '@/store/auth';

interface IData {
  isMobileNavbarVisible: boolean;
  navLinks: IPageLink[];
}

interface IMethods {
  toggleMobileNavbar: () => void;
  logout: () => void;
}

interface IComputed {
  isLoggedIn: boolean;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    BaseIcon,
  },
  data() {
    return {
      isMobileNavbarVisible: false,
      navLinks: [
        {
          title: 'Задачи',
          link: '/tasks?page=1',
        },
        {
          title: 'Таблица лидеров',
          link: '/leaderboard',
        },
        {
          title: 'Партнёры',
          link: '/partners',
        },
        {
          title: 'FAQ',
          link: '/faq',
        },
      ],
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters[GET_LOGGED_IN];
    },
  },
  methods: {
    toggleMobileNavbar(): void {
      this.isMobileNavbarVisible = !this.isMobileNavbarVisible;
    },
    logout(): void {
      this.$store.dispatch(LOGOUT);
      this.$router.push('/login');
    },
  },
});
</script>
<style lang="scss" scoped>
.header {
  background-color: $color-secondary-background;
  box-shadow: 0px -2px 35px 5px rgba(0, 0, 0, 0.25);
  padding: 8px 0 8px 0;

  &__navbar {
    display: flex;
    justify-content: space-between;
    &-mobile {
      display: none;
      transition: all 0.3s ease;
    }
  }

  &__navigation {
    &-mobile {
      display: flex;
      justify-content: center;
    }
    display: flex;
    align-items: center;
    margin-left: 70px;

    &-wrp {
      display: flex;
      flex-direction: row;
      &-mobile {
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      color: $color-font;
    }

    &-item {
      display: inline-block;
      position: relative;

      &::before,
      &::after {
        display: block;
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        background-color: $color-font;
        left: 50%;
        bottom: -4px;
      }

      &::before {
        transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
      }

      &::after {
        transition: width 0.5s ease-in-out;
      }

      &-mobile {
        display: flex;
        justify-content: center;
        margin: 15px 0;
      }

      &:not(:first-child) {
        margin-left: 25px;
      }

      &:hover {
        &::before {
          width: 50%;
          left: 0;
        }
        &::after {
          width: 50%;
        }
      }

      &_active {
        font-weight: 600;
      }
    }

    &-link {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__logo {
    font-size: $font-size-big;
    color: $color-font;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-mobile {
      display: flex;
      justify-content: center;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;

    &-button {
      background: none;
      border: none;
    }
  }
}

@media (max-width: $lg) {
  .header {
    &__navbar {
      &-mobile {
        display: block;
      }
    }

    &__navigation {
      display: none;
    }

    &__buttons {
      display: none;
    }

    &__burger {
      display: flex;
      align-self: center;
    }
  }
}
</style>
