<template>
  <v-snackbar
    v-model="toastVisible"
    :timeout="toastConfig.timeout"
    :top="toastConfig.top"
    :bottom="toastConfig.bottom"
    :left="toastConfig.left"
    :right="toastConfig.right"
    >{{ toastConfig.text }}
    <template #action="{ attrs }">
      <v-btn color="red" text v-bind="attrs" @click="hideToast">
        Закрыть
      </v-btn>
    </template></v-snackbar
  >
</template>
<script lang="ts">
import Vue from 'vue';

import {
  SHOW_TOAST_EVENT_NAME,
  HIDE_TOAST_EVENT_NAME,
  IToastConfig,
} from '@/utils/toast';

interface IData {
  toastVisible: boolean;
  toastConfig: IToastConfig;
}

interface IMethods {
  showToast: (config: IToastConfig) => void;
  hideToast: () => void;
}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  data() {
    return {
      toastVisible: false,
      toastConfig: {
        text: '',
      },
    };
  },
  created() {
    this.$nuxt.$on(SHOW_TOAST_EVENT_NAME, this.showToast);

    this.$nuxt.$on(HIDE_TOAST_EVENT_NAME, this.hideToast);
  },
  methods: {
    showToast(config) {
      this.toastConfig = config;
      this.toastVisible = true;
    },
    hideToast() {
      this.toastVisible = false;
    },
  },
});
</script>
