<template>
  <v-row justify="center">
    <v-dialog
      max-width="600"
      :value="true"
      @click:outside="$emit('closeModalEvent')"
    >
      <v-card justify="center" class="modal-user-settings">
        <v-card-title class="modal-user-settings__title">
          <span class="d-flex flex-direction-row">
            <v-icon
              class="modal-user-settings__icon"
              :color="contentSwitch ? '#ffffff' : '#1a5cff'"
              title="Настройки пользователя"
              >mdi-account-multiple
            </v-icon>
            <v-switch
              v-model="contentSwitch"
              class="modal-user-settings__switch"
              hide-details="true"
              inset
              color="rgba(255, 255, 255, 0.3)"
            ></v-switch>
            <v-icon
              class="modal-user-settings__icon"
              :color="contentSwitch ? '#1a5cff' : '#ffffff'"
              title="Настройки безопастности"
              >mdi-lock</v-icon
            >
          </span>
          <span v-if="!contentSwitch" class="mt-3">
            Настройки пользователя
          </span>
          <span v-else class="mt-3"> Настройки безопастности </span>
        </v-card-title>

        <div class="container">
          <div class="row">
            <div v-if="!contentSwitch" class="col-12">
              <form @submit.prevent="handleChangeProfileData">
                <v-text-field
                  v-model="email"
                  dense
                  outlined
                  color="white"
                  label="Почта"
                  type="email"
                  :rules="emailRules"
                />
                <v-text-field
                  v-model="fullName"
                  dense
                  outlined
                  color="white"
                  label="Ф.И.О"
                  type="text"
                  :rules="fullNameRules"
                />
                <v-card-actions class="justify-content-between">
                  <v-btn
                    text
                    class="mr-3"
                    @click.prevent="$emit('closeModalEvent')"
                  >
                    Отменить
                  </v-btn>
                  <v-btn type="submit" color="primary" class="ml-3">
                    Изменить
                  </v-btn>
                </v-card-actions>
              </form>
            </div>
            <div v-else class="col-12">
              <form @submit.prevent="handleChangePassword">
                <v-text-field
                  v-model="currentPassword"
                  dense
                  outlined
                  color="white"
                  label="Текущий пароль"
                  :append-icon="showCurrentPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showCurrentPassword ? 'text' : 'password'"
                  :rules="currentPasswordRules"
                  @click:append="toggleShowCurrentPassword"
                />
                <v-text-field
                  v-model="password"
                  dense
                  outlined
                  color="white"
                  label="Новый пароль"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword ? 'text' : 'password'"
                  :rules="passwordRules"
                  @click:append="toggleShowPassword"
                />
                <v-text-field
                  v-model="repeatPassword"
                  dense
                  outlined
                  color="white"
                  label="Повторите новый пароль"
                  type="password"
                  :rules="repeatPasswordRules"
                />

                <v-card-actions class="justify-content-between">
                  <v-btn
                    text
                    class="mr-3"
                    @click.prevent="$emit('closeModalEvent')"
                  >
                    Отменить
                  </v-btn>
                  <v-btn type="submit" color="primary" class="ml-3">
                    Изменить
                  </v-btn>
                </v-card-actions>
              </form>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import { required, minLength, email, sameAs } from 'vuelidate/lib/validators';

import { IUser } from '@/dataProvider';
import { FETCH_PROFILE } from '@/store/auth';
import { changeProfileData } from '@/api/profile';
import { changePassword } from '@/api/password';

interface IData {
  contentSwitch: boolean;
  email: string;
  fullName: string;
  password: string;
  currentPassword: string;
  repeatPassword: string;
  showPassword: boolean;
  showCurrentPassword: boolean;
  emailRules: [() => any, () => any];
  fullNameRules: [() => any];
  passwordRules: [() => any, () => any];
  repeatPasswordRules: [() => any, () => any];
}

interface IMethods {
  toggleShowPassword: () => void;
  toggleShowCurrentPassword: () => void;
  handleChangeProfileData: () => void;
  handleChangePassword: () => void;
}

interface IComputed {}

interface IProps {
  user: IUser;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  props: {
    user: {
      type: Object as PropType<IUser>,
      required: true,
    },
  },
  data() {
    return {
      contentSwitch: false,
      email: this.user.email || '',
      fullName: this.user.full_name || '',
      password: '',
      currentPassword: '',
      repeatPassword: '',
      showPassword: false,
      showCurrentPassword: false,
      emailRules: [
        () => this.$v.email.required || 'Это поле обязательно для заполнения',
        () => this.$v.email.email || 'Требуется ввести E-mail',
      ],
      fullNameRules: [
        () =>
          this.$v.fullName.required || 'Это поле обязательно для заполнения',
      ],
      passwordRules: [
        () =>
          this.$v.password.required || 'Это поле обязательно для заполнения',
        () =>
          this.$v.password.minLength ||
          'Длина пароля должна состовлять более 8 символов',
      ],
      currentPasswordRules: [
        () =>
          this.$v.currentPassword.required ||
          'Это поле обязательно для заполнения',
        () =>
          this.$v.currentPassword.minLength ||
          'Длина пароля должна состовлять более 8 символов',
      ],
      repeatPasswordRules: [
        () =>
          this.$v.repeatPassword.required ||
          'Это поле обязательно для заполнения',
        () => this.$v.repeatPassword.sameAs || 'Пароли должны совпадать',
      ],
    };
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    toggleShowCurrentPassword() {
      this.showCurrentPassword = !this.showCurrentPassword;
    },
    async handleChangeProfileData() {
      try {
        await changeProfileData({
          email: this.email,
          full_name: this.fullName,
        });
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err);
      }

      this.$store.dispatch(FETCH_PROFILE);
    },
    async handleChangePassword() {
      try {
        await changePassword(this.currentPassword, this.password);
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err);
      }
    },
  },
  validations: {
    email: {
      required,
      email,
    },
    fullName: {
      required,
    },
    nickname: {
      required,
    },
    password: {
      required,
      minLength: minLength(8),
    },
    currentPassword: {
      required,
      minLength: minLength(8),
    },
    repeatPassword: {
      required,
      sameAs: sameAs('password'),
    },
  },
});
</script>

<style lang="scss" scoped>
.modal-user-settings {
  padding: 20px 50px 30px 50px;

  &__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__switch {
    margin: 0 0 0 17px;
  }

  &__icon {
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}

@media (max-width: $sm) {
  .modal-user-settings {
    padding: 0;

    &__title {
      font-size: $font-size-default !important;
    }
  }
}
</style>
