<template>
  <div class="writeup-card">
    <div class="writeup-card__header">
      <span class="writeup-card__author"
        ><ProfileLink :username="writeup.author"
      /></span>
      <BaseRaiting
        :counter="writeup.score"
        @onIncrease="handleIncrease"
        @onDecrease="handleDecrease"
      />
    </div>
    <div class="writeup-card__body" v-html="html"></div>
    <div class="writeup-card__footer">
      <div v-if="writeup.is_owner" class="writeup-card__footer-buttons">
        <v-btn
          color="error"
          class="writeup-card__footer-buttons-delete"
          @click="handleDeleteClick"
        >
          Удалить
        </v-btn>
      </div>
      <div class="writeup-card__footer-date">
        <span>Дата публикации: {{ prettyDate }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import BaseRaiting from '@/components/BaseRaiting.vue';
import ProfileLink from '@/components/ProfileLink.vue';

import { IWriteup } from '@/dataProvider';
import { prettyDate as fnPrettyDate } from '@/plugins/date-prettify';
import { mdToHTML } from '@/utils/mdToHTML';

interface IData {}

interface IMethods {
  handleDeleteClick: () => void;
  handleIncrease: () => void;
  handleDecrease: () => void;
}

interface IComputed {
  prettyDate: string;
  html: string;
}

interface IProps {
  writeup: IWriteup;
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    BaseRaiting,
    ProfileLink,
  },
  props: {
    writeup: {
      type: Object as PropType<IWriteup>,
      required: true,
    },
  },
  computed: {
    prettyDate() {
      return fnPrettyDate(this.writeup.writeup_created);
    },
    html() {
      return mdToHTML(this.writeup.text);
    },
  },
  methods: {
    handleDeleteClick() {
      this.$emit('onDelete', this.writeup.challenge_shortname);
    },
    handleIncrease() {
      this.$emit('onIncrease', {
        author: this.writeup.author,
        shortname: this.writeup.challenge_shortname,
      });
    },
    handleDecrease() {
      this.$emit('onDecrease', {
        author: this.writeup.author,
        shortname: this.writeup.challenge_shortname,
      });
    },
  },
});
</script>

<style lang="scss" scoped>
.writeup-card {
  position: relative;
  background-color: $color-secondary-background;
  border-radius: 20px;
  padding: 15px;

  &__author {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
    background-color: $color-primary;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__body {
    margin: 20px 0;
    p {
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &-buttons {
      display: flex;

      &-edit {
        margin-right: 20px;
        font-weight: bold;
        // font-size: $font-size-default;
      }

      &-delete {
        // font-size: $font-size-default;
        font-weight: bold;
      }
    }

    &-date {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: $md) {
  .writeup-card {
    &__footer {
      flex-direction: column;

      &-buttons {
        justify-content: space-around;

        &-edit {
          margin-right: 0;
        }
      }

      &-date {
        margin-top: 5px;
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: $sm) {
  .writeup-card {
    &__header {
      margin-top: 40px;
      justify-content: center;
    }

    &__footer {
      &-buttons {
        flex-direction: column;

        &-edit,
        &-delete {
          margin-top: 10px;
        }
      }
    }
  }
}
</style>
