<template>
  <div>
    <WriteupCard
      v-for="writeup in writeups"
      :key="writeup.writeup_created"
      :writeup="writeup"
      class="mb-5"
      @onDelete="handleDelete"
      @onIncrease="handleIncrease"
      @onDecrease="handleDecrease"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';

import WriteupCard from '@/components/WriteupCard.vue';

import { IWriteup } from '@/dataProvider';

interface IData {}

interface IMethods {
  handleDelete: (shortname: string) => void;
  handleIncrease: (options: { author: string; shortname: string }) => void;
  handleDecrease: (options: { author: string; shortname: string }) => void;
}

interface IComputed {}

interface IProps {
  writeups: IWriteup[];
}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    WriteupCard,
  },
  props: {
    writeups: {
      type: Array as PropType<IWriteup[]>,
      default: () => [],
      required: true,
    },
  },
  methods: {
    handleDelete(shortname) {
      this.$emit('onDelete', shortname);
    },
    handleIncrease(options) {
      this.$emit('onIncrease', options);
    },
    handleDecrease(options) {
      this.$emit('onDecrease', options);
    },
  },
});
</script>
