<template>
  <div class="tasks-page">
    <h1 class="page-title">Задачи</h1>
    <FilterBar
      :categories="categories"
      :diffuluty-levels="difficultyLevels"
      :tags="tags"
      :updated-tags="queryTags"
      :updated-difficulties="queryDifficulties"
      :updated-categories="queryCategories"
      :updated-search="querySearch"
      @onCategoryChange="handleChangeCategory"
      @onTagChange="handleChangeTag"
      @onDifficultyChange="handeChangeDifficulty"
      @onSearchQueryChange="handleSearchQuery"
      @onChangeSomeValue="clearCurrentPage"
    />
    <FilterList
      v-if="isFilterSelected"
      :filters="allSelectedFilters"
      class="mt-4"
      @onFilterClick="clearFilterByName"
    >
      <template #append-after>
        <v-chip class="ml-3" outlined color="error" @click="clearAllFilters">
          Очистить
        </v-chip>
      </template>
    </FilterList>
    <div class="mt-5">
      <div class="row">
        <Fetcher
          :api-method="fetchChallenges"
          :arguments="[requestConfig]"
          call-only-on-change
        >
          <template #default="{ data }">
            <v-alert
              v-if="data && data.challenges && data.challenges.length === 0"
              class="mt-3"
              dense
              outlined
              type="error"
            >
              По вашему запросу ничего не найдено!
            </v-alert>
            <TaskList
              v-else
              :current-page="currentPage"
              :tasks="data && data.challenges"
              :total-count="data && data.num_of_challenges"
              :column-size="6"
              @onPageChange="handleChangePage"
            />
          </template>
        </Fetcher>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable camelcase */
import Vue from 'vue';

import FilterBar from '@/components/FilterBar.vue';
import TaskList from '@/components/TaskList.vue';
import Fetcher from '@/components/Fetcher.vue';
import FilterList from '@/components/FilterList.vue';

import { fetchChallenges, IFetchChallengesOptions } from '@/api/challenges';
import { ChallengeCategory, ChallengeDifficulty } from '@/dataProvider';
import { categories, difficultyLevels } from '@/const';
import { fetchTags } from '@/api/tags';

type AvailableQuerys = 'categories' | 'difficultyLevels';
type FiltersType = ChallengeCategory | ChallengeCategory | string;

interface IData {
  selectedDifficulties: ChallengeDifficulty[];
  selectedTags: string[];
  selectedCategories: ChallengeCategory[];
  categories: ChallengeCategory[];
  difficultyLevels: ChallengeDifficulty[];
  search: string;
  queryCategories: string[];
  queryTags: string[];
  queryDifficulties: string[];
  querySearch: string;
  currentPage: number | string;
  tags: string[];
}

interface IMethods {
  /** Получаем таски */
  fetchChallenges: any; // Хак из-за плохой интеграции Vue с TS
  /** Обработчик смены категории */
  handleChangeCategory: (categories: ChallengeCategory[]) => void;
  /** Обработчик смены тэга */
  handleChangeTag: (tags: string[]) => void;
  /** Обработчик смены поисковой строки */
  handleSearchQuery: (searchQuery: string) => void;
  /** Обработчик смены сложности */
  handeChangeDifficulty: (difficulties: ChallengeDifficulty[]) => void;
  /**
   * Получаем из роутера значение Query Params по ключу
   */
  getQuery: (key: string) => string | (string | null)[];
  /**
   * Обновляем Query Param в адрессной строке
   */
  updateQuery: () => void;
  /**
   * Создаёт объект для смены Query Params в адрессной строке
   */
  makeQuery: () => Record<string, string | (string | null)[]>;
  /** Обновляем значение поисковой строки */
  setSearchQuery: (value: string) => void;
  /** Обновляем значение тега */
  setTagQuery: (value: string | (string | null)[]) => void;
  /** Обновляем значение категории */
  setCategoryQuery: (value: string | (string | null)[]) => void;
  /** Обновляем значение сложности */
  setDifficultQuery: (value: string | (string | null)[]) => void;
  /**
   * Проверяем существует ли такие Query Params
   */
  validateQueryParams: (
    quryName: AvailableQuerys,
    value: string | string[]
  ) => boolean;
  /** Чистит все фильтры */
  clearAllFilters: () => void;
  /** Удаляет фильтр по наименованию */
  clearFilterByName: (name: string) => void;
  /** Обработчик смены страницы */
  handleChangePage: (page: number) => void;
  /** Сбрасывает значение страницы до дефолтного */
  clearCurrentPage: () => void;
  /** Получаем теги с сервера */
  getTags: () => void;
}

interface IComputed {
  requestConfig: IFetchChallengesOptions;
  isFilterSelected: boolean;
  allSelectedFilters: FiltersType[];
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    FilterBar,
    TaskList,
    Fetcher,
    FilterList,
  },
  data() {
    return {
      currentPage: '1',
      selectedDifficulties: [],
      selectedTags: [],
      selectedCategories: [],
      search: '',
      queryCategories: [],
      queryTags: [],
      queryDifficulties: [],
      querySearch: '',
      tags: [],
      categories,
      difficultyLevels,
    };
  },
  computed: {
    allSelectedFilters() {
      const { selectedCategories, selectedTags, selectedDifficulties } = this;

      return [...selectedCategories, ...selectedTags, ...selectedDifficulties];
    },
    requestConfig() {
      return {
        difficult: this.selectedDifficulties,
        tags: this.selectedTags,
        category: this.selectedCategories,
        pageCount: this.currentPage,
        title: this.search,
      };
    },
    isFilterSelected() {
      return (
        !!this.queryCategories.length ||
        !!this.queryTags.length ||
        !!this.queryDifficulties.length ||
        !!this.selectedCategories.length ||
        !!this.selectedTags.length ||
        !!this.selectedDifficulties.length
      );
    },
  },
  watch: {
    queryCategories() {
      this.updateQuery();
    },
    queryTags() {
      this.updateQuery();
    },
    queryDifficulties() {
      this.updateQuery();
    },
    querySearch() {
      this.updateQuery();
    },
    currentPage() {
      this.updateQuery();
    },
  },
  mounted() {
    this.getTags();

    const {
      query: { q, tags, categories, difficulties, page },
    } = this.$route;
    const { validateQueryParams } = this;

    if (
      categories &&
      // @ts-ignore
      validateQueryParams('categories', categories)
    ) {
      // @ts-ignore
      this.setCategoryQuery(categories);
    }

    if (
      difficulties &&
      // @ts-ignore
      validateQueryParams('difficultyLevels', difficulties)
    ) {
      // @ts-ignore
      this.setDifficultQuery(difficulties);
    }

    if (q) {
      // @ts-ignore
      this.setSearchQuery(q);
    }

    if (tags) {
      // @ts-ignore
      this.setTagQuery(tags);
    }

    if (page && !Array.isArray(page)) {
      this.currentPage = Number(page);
    }
  },
  methods: {
    fetchChallenges,
    handleChangeCategory(categories) {
      this.selectedCategories = [...categories];
      this.setCategoryQuery(categories);
    },
    handleChangeTag(tags) {
      this.selectedTags = [...tags];
      this.setTagQuery(tags);
    },
    handleSearchQuery(searchQuery) {
      this.search = searchQuery;
      this.setSearchQuery(searchQuery);
    },
    handeChangeDifficulty(difficulties) {
      this.selectedDifficulties = [...difficulties];
      this.setDifficultQuery(difficulties);
    },
    getQuery(key) {
      return this.$route.query[key];
    },
    updateQuery() {
      const query = this.makeQuery();
      this.$router.push({ path: '/tasks', query });
    },
    makeQuery() {
      const query: Record<string, string | (string | null)[]> = {};

      if (this.querySearch) query.q = this.querySearch;
      if (this.queryTags) query.tags = this.queryTags;
      if (this.queryCategories) query.categories = this.queryCategories;
      if (this.queryDifficulties) query.difficulties = this.queryDifficulties;

      query.page = String(this.currentPage);

      return query;
    },
    setSearchQuery(value) {
      if (typeof value !== 'string') return;
      this.querySearch = value;
    },
    setTagQuery(value) {
      if (Array.isArray(value)) {
        // @ts-ignore
        this.queryTags = value;
      }

      if (typeof value === 'string') {
        this.queryTags = [value];
      }
    },
    setCategoryQuery(value) {
      if (Array.isArray(value)) {
        // @ts-ignore
        this.queryCategories = value;
      }

      if (typeof value === 'string') {
        this.queryCategories = [value];
      }
    },
    setDifficultQuery(value) {
      if (Array.isArray(value)) {
        // @ts-ignore
        this.queryDifficulties = value;
      }

      if (typeof value === 'string') {
        this.queryDifficulties = [value];
      }
    },
    validateQueryParams(queryName, value) {
      if (typeof value === 'string') {
        // @ts-ignore
        return this?.[queryName].includes(value);
      }

      if (Array.isArray(value)) {
        for (const filter of value) {
          // @ts-ignore
          if (this?.[queryName].includes(filter)) {
            return true;
          }
        }
      }

      return false;
    },
    clearAllFilters() {
      this.queryTags = [];
      this.queryDifficulties = [];
      this.queryCategories = [];

      this.selectedDifficulties = [];
      this.selectedTags = [];
      this.selectedCategories = [];

      this.clearCurrentPage();
    },
    clearFilterByName(name) {
      const { selectedCategories, selectedDifficulties, selectedTags } = this;
      const filterByName = (item: any) => item !== name;

      this.clearCurrentPage();

      // @ts-ignore
      if (selectedCategories.includes(name)) {
        this.selectedCategories = selectedCategories.filter(filterByName);
        this.queryCategories = selectedCategories.filter(filterByName);
        return;
      }

      // @ts-ignore
      if (selectedDifficulties.includes(name)) {
        this.selectedDifficulties = selectedDifficulties.filter(filterByName);
        this.queryDifficulties = selectedDifficulties.filter(filterByName);
        return;
      }

      // @ts-ignore
      if (selectedTags.includes(name)) {
        this.selectedTags = selectedTags.filter(filterByName);
        this.queryTags = selectedTags.filter(filterByName);
      }
    },
    handleChangePage(page) {
      this.currentPage = page;
    },
    clearCurrentPage() {
      this.currentPage = 1;
    },
    async getTags() {
      try {
        const {
          data: { tags_list },
        } = await fetchTags();
        this.tags = tags_list;
      } catch (error) {}
    },
  },
});
</script>

<style lang="scss" scoped></style>
