<template>
  <div class="user-profile">
    <h1 class="page-title">{{ user.username }}</h1>
    <ProfileCard v-if="isUserFetchSuccess" :is-me="false" :user="user" />
    <v-alert v-else text prominent type="error">
      Такого пользователя не существует
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import ProfileCard from '@/components/ProfileCard.vue';

import { fetchCurrentUser } from '@/api/profile';
import { IUser } from '~/dataProvider';

interface IData {
  user: IUser | {};
  isUserFetchSuccess: boolean;
}

interface IMethods {}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    ProfileCard,
  },
  data() {
    return {
      user: {},
      isUserFetchSuccess: true,
    };
  },
  async created() {
    try {
      const username = this.$route.params.username;

      const { data } = await fetchCurrentUser(username);
      this.user = data;

      this.isUserFetchSuccess = true;
    } catch (err) {
      this.isUserFetchSuccess = false;

      // eslint-disable-next-line no-console
      console.log(err);
    }
  },
});
</script>
