<template>
  <div class="my-profile">
    <h1 class="page-title">Мой профиль</h1>
    <ProfileCard
      :is-me="true"
      :user="user"
      @openModalEvent="openModalHandler"
    />
    <UserSettignsModal
      v-if="showModal"
      :user="user"
      @closeModalEvent="closeModalHandler"
    />
    <h2 class="my-profile__solved-task">Решенные задачи</h2>
    <div class="row">
      <div class="col-12">
        <Fetcher
          :api-method="fetchMyChallenges"
          :arguments="[pageCount, tasksPerPage]"
          @onSuccess="handleSuccess"
        >
          <template #default="{ data }">
            <TaskList
              :tasks="data.challenges"
              :enable-pagination="false"
              :column-size="6"
            />
          </template>
        </Fetcher>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <v-pagination
            v-model="pageCount"
            :length="numberOfPages"
            @input="handleChangePage"
          ></v-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import ProfileCard from '@/components/ProfileCard.vue';
import UserSettignsModal from '@/components/UserSettignsModal.vue';

import { fetchMyChallenges, IFetchChallengesReturns } from '@/api/challenges';
import { IUser } from '@/dataProvider';
import { GET_USER } from '@/store/auth';

interface IData {
  showModal: boolean;
  pageCount: number;
  totalCount: number;
  tasksPerPage: number;
}

interface IMethods {
  openModalHandler: () => void;
  closeModalHandler: () => void;
  fetchMyChallenges: any; // Хак из-за плохой интеграции Vue с TS
  handleChangePage: (page: number) => void;
  handleSuccess: (data: IFetchChallengesReturns) => void;
}

interface IComputed {
  user: IUser;
  numberOfPages: number;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    ProfileCard,
    UserSettignsModal,
  },
  data() {
    return {
      showModal: false,
      pageCount: 1,
      totalCount: 1,
      tasksPerPage: 6,
    };
  },
  computed: {
    user() {
      return this.$store.getters[GET_USER];
    },
    numberOfPages() {
      return Math.ceil(this.totalCount / this.tasksPerPage);
    },
  },
  methods: {
    openModalHandler() {
      this.showModal = true;
    },
    closeModalHandler() {
      this.showModal = false;
    },
    fetchMyChallenges,
    handleChangePage(page) {
      this.pageCount = page;
    },
    handleSuccess(data) {
      this.totalCount = data.num_of_challenges;
    },
  },
});
</script>

<style lang="scss" scoped>
.my-profile {
  &__solved-task {
    font-size: $font-size-mid;
    color: $color-font;
    text-align: center;

    margin: 40px 0;
  }
}
</style>
