<template>
  <v-app>
    <TheHeader />
    <div class="container" style="min-height: 80vh">
      <Nuxt />
    </div>
    <TheFooter />
    <Toast />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

import TheHeader from '@/components/TheHeader.vue';
import TheFooter from '@/components/TheFooter.vue';
import Toast from '@/components/Toast.vue';

interface IData {}

interface IMethods {}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    TheHeader,
    TheFooter,
    Toast,
  },
  middleware: ['profile', 'authenticated'],
});
</script>

<style lang="scss">
.v-application {
  font-family: 'Comfortaa';
  background-color: $color-background !important;
}
</style>
