<template>
  <div class="error-page">
    <h1 style="text-align: center">
      {{ errorText }}
    </h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    error: { type: Object, default: () => ({}) },
  },
  computed: {
    errorText() {
      // @ts-ignore
      return this.error.statusCode === 404
        ? 'Страница не найдена :('
        : 'Произошла ошибка';
    },
  },
});
</script>
