<template>
  <v-app>
    <div class="container" style="min-height: 81vh">
      <Nuxt />
    </div>
    <TheFooter />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

import TheFooter from '@/components/TheFooter.vue';

export default Vue.extend({
  components: {
    TheFooter,
  },
  middleware: ['profile', 'authenticated'],
});
</script>

<style lang="scss">
.v-application {
  font-family: 'Comfortaa';
  background-color: $color-background !important;
}
</style>
