<template>
  <div class="faq">
    <h1 class="page-title">Часто задаваемые вопросы</h1>
    <div>
      <Fetcher :api-method="fetchFAQs" @onSuccess="handleSuccessFetch">
        <div class="row">
          <div class="col-12 col-lg-6">
            <v-expansion-panels multiple flat>
              <v-expansion-panel
                v-for="faq in faqsTwoParts.faqsLeft"
                :key="faq._id"
                class="faq__expansion-panel"
              >
                <v-expansion-panel-header class="faq__expansion-panel-question">
                  {{ faq.question }}
                </v-expansion-panel-header>
                <v-expansion-panel-content class="faq__expansion-panel-answer">
                  {{ faq.answer }}
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
          <div class="col-12 col-lg-6">
            <v-expansion-panels multiple flat>
              <v-expansion-panel
                v-for="faq in faqsTwoParts.faqsRight"
                :key="faq._id"
                class="faq__expansion-panel"
              >
                <v-expansion-panel-header class="faq__expansion-panel-question">
                  {{ faq.question }}
                </v-expansion-panel-header>
                <v-expansion-panel-content class="faq__expansion-panel-answer">
                  {{ faq.answer }}
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
        </div>
      </Fetcher>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Fetcher from '../components/Fetcher.vue';

import { fetchFAQs } from '../api/faq';
import { IFAQ } from '../dataProvider';

interface IFaqsTwoParts {
  faqsLeft: IFAQ[];
  faqsRight: IFAQ[];
}

interface IData {
  faqs: IFAQ[];
}

interface IMethods {
  fetchFAQs: any; // Хак из-за плохой интеграции Vue с TS
  handleSuccessFetch: (data: IFAQ[]) => void;
}

interface IComputed {
  faqsTwoParts: IFaqsTwoParts;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    Fetcher,
  },
  data() {
    return {
      faqs: [],
    };
  },
  head() {
    return {
      title: 'SCP | F.A.Q',
    };
  },
  computed: {
    faqsTwoParts() {
      const faqsLenght = Math.floor(this.faqs.length / 2);
      return {
        faqsLeft: this.faqs.slice(0, faqsLenght),
        faqsRight: this.faqs.slice(faqsLenght, this.faqs.length + 1),
      };
    },
  },
  methods: {
    fetchFAQs,
    handleSuccessFetch(data) {
      this.faqs = data;
    },
  },
});
</script>

<style lang="scss" scoped>
.faq {
  &__expansion-panel {
    background-color: $color-secondary-background !important;
    margin: 15px 0;
    border-radius: 15px !important;
    &-question,
    &-answer {
      font-size: $font-size-default;
      text-align: left;
    }
  }
}
</style>
