<template>
  <div class="main-page">
    <div class="row mt-5">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <Counter :count="statistics.num_of_users" text-size="big" />
          </div>
          <span class="main-page__counter-text mt-2">Пользователей</span>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <Counter :count="statistics.num_of_challenges" text-size="big" />
          </div>
          <span class="main-page__counter-text mt-2">Заданий</span>
        </div>
      </div>
    </div>
    <div class="main-page__last-tasks mt-5">
      <h2 class="main-page__last-tasks-title">Последние задания</h2>
      <div class="row">
        <div class="col-12">
          <Fetcher :api-method="fetchChallenges" :arguments="[requestConfig]">
            <template #default="{ data }">
              <TaskList
                :tasks="data.challenges"
                :enable-pagination="false"
                :column-size="6"
              />
            </template>
          </Fetcher>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Counter from '@/components/Counter.vue';
import TaskList from '@/components/TaskList.vue';
import Fetcher from '@/components/Fetcher.vue';

import { fetchChallenges, IFetchChallengesOptions } from '@/api/challenges';
import { fetchStatistics, IStatistics } from '@/api/statistics';
import { IChallenge } from '@/dataProvider';
import { difficultyLevels } from '@/const';

interface IData {
  challenges: IChallenge[];
  requestConfig: IFetchChallengesOptions;
  statistics: IStatistics;
}

interface IMethods {
  fetchChallenges: any; // Хак из-за плохой интеграции Vue с TS
}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    Counter,
    TaskList,
    Fetcher,
  },
  data() {
    return {
      challenges: [],
      requestConfig: {
        rowCount: 6,
        difficult: difficultyLevels,
        tags: [],
        dateSort: -1,
      },
      statistics: {
        num_of_users: 0,
        num_of_challenges: 0,
      },
    };
  },
  head() {
    return {
      title: 'SCP | Главная страница',
    };
  },
  async created() {
    try {
      const { data } = await fetchStatistics();

      this.statistics = data;
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err);
    }
  },
  methods: {
    fetchChallenges,
  },
});
</script>

<style lang="scss" scoped>
.main-page {
  &__counter {
    &-text {
      font-size: $font-size-mid;
      text-align: center;
    }
  }

  &__last {
    &-tasks {
      &-title {
        font-size: $font-size-mid;
        text-align: center;
      }
    }
  }
}

@media (max-width: $sm) {
  .main-page {
    &__title {
      font-size: $font-size-mid;
    }
  }
}
</style>
