<template>
  <div>
    <h2 class="page-title">Регистрация</h2>
    <div class="reg-form">
      <form @submit.prevent="sendForm">
        <v-text-field
          v-model="email"
          dense
          outlined
          color="white"
          label="Почта"
          type="email"
          :rules="emailRules"
        />
        <v-text-field
          v-model="fullName"
          dense
          outlined
          color="white"
          label="Ф.И.О"
          type="text"
          :rules="fullNameRules"
        />
        <v-text-field
          v-model="nickname"
          dense
          outlined
          color="white"
          label="Никнейм"
          type="text"
          messages="В дальнейшем вы не сможете изменить никнейм"
          :rules="nicknameRules"
        />
        <v-text-field
          v-model="password"
          dense
          outlined
          color="white"
          label="Пароль"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          :rules="passwordRules"
          @click:append="toggleShowPassword"
        />
        <v-text-field
          v-model="repeatPassword"
          dense
          outlined
          color="white"
          label="Повторите пароль"
          type="password"
          :rules="repeatPasswordRules"
        />
        <v-checkbox v-model="isAgree">
          <template #label>
            <div class="reg-form__agreement">
              Я соглашаюсь на передачу персональных данных согласно
              <a class="reg-form__link" target="__blank"
                >политике конфиденциальности</a
              >
              . <br />
              Я ознакомлен с
              <a class="reg-form__link">пользовательским соглашением</a>.
            </div>
          </template>
        </v-checkbox>
        <v-btn
          :disabled="!allValidationPass || loading"
          color="primary"
          style="width: 100%"
          type="submit"
          :loading="loading"
          >Зарегистрироваться</v-btn
        >
      </form>
      <v-alert v-if="error === 409" dense text type="error" class="mt-3">
        Пользователь с такими данными уже существует
      </v-alert>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators';

import { createUser } from '~/api/auth';
import { IRegistrationBody } from '~/dataProvider';

interface IData {
  email: string;
  fullName: string;
  nickname: string;
  password: string;
  repeatPassword: string;
  isAgree: boolean;
  showPassword: boolean;
  loading: boolean;
  error: number;
  emailRules: [() => any, () => any];
  fullNameRules: [() => any];
  nicknameRules: [() => any];
  passwordRules: [() => any, () => any];
  repeatPasswordRules: [() => any, () => any];
}

interface IMethods {
  toggleShowPassword: () => void;
  sendForm: () => void;
}

interface IComputed {
  allValidationPass: boolean;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  layout: 'without-header',
  data() {
    return {
      email: '',
      fullName: '',
      nickname: '',
      password: '',
      repeatPassword: '',
      isAgree: false,
      showPassword: false,
      loading: false,
      error: NaN,
      emailRules: [
        () => this.$v.email.required || 'Это поле обязательно для заполнения',
        () => this.$v.email.email || 'Требуется ввести E-mail',
      ],
      fullNameRules: [
        () =>
          this.$v.fullName.required || 'Это поле обязательно для заполнения',
      ],
      nicknameRules: [
        () =>
          this.$v.nickname.required || 'Это поле обязательно для заполнения',
      ],
      passwordRules: [
        () =>
          this.$v.password.required || 'Это поле обязательно для заполнения',
        () =>
          this.$v.password.minLength ||
          'Длина пароля должна состовлять более 8 символов',
      ],
      repeatPasswordRules: [
        () =>
          this.$v.repeatPassword.required ||
          'Это поле обязательно для заполнения',
        () => this.$v.repeatPassword.sameAs || 'Пароли должны совпадать',
      ],
    };
  },
  head() {
    return {
      title: 'SCP | Регистрация',
    };
  },
  validations: {
    email: {
      required,
      email,
    },
    fullName: {
      required,
    },
    nickname: {
      required,
    },
    password: {
      required,
      minLength: minLength(8),
    },
    repeatPassword: {
      required,
      sameAs: sameAs('password'),
    },
  },
  computed: {
    allValidationPass() {
      return Boolean(
        this.$v.email.required &&
          this.$v.email.email &&
          this.$v.fullName.required &&
          this.$v.nickname.required &&
          this.$v.password.required &&
          this.$v.password.minLength &&
          this.$v.repeatPassword.required &&
          this.$v.repeatPassword.sameAs &&
          this.isAgree
      );
    },
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    async sendForm() {
      this.loading = true;

      const payload: IRegistrationBody = {
        username: this.nickname,
        password: this.password,
        email: this.email,
        full_name: this.fullName,
      };

      try {
        await createUser(payload);

        this.$router.push('/login');
      } catch (err) {
        this.error = err.response.status;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>
<style lang="scss" scoped>
.reg-form {
  max-width: 480px;
  width: 100%;
  background-color: $color-secondary-background;
  border-radius: 20px;
  margin: 10px auto;
  padding: 30px 15px;

  &__agreement {
    color: $color-font;
    font-size: $font-size-small;
  }
}
</style>
