<template>
  <div class="leaderboard">
    <h1 class="page-title">Таблица лидеров</h1>
    <Fetcher
      :api-method="fetchScoreboard"
      :arguments="[page, usersPerPage]"
      @onSuccess="handleSuccess"
    >
      <template #default="{ data }">
        <div class="leaderboard__table-wrp">
          <v-data-table
            :headers="headers"
            :items="data.scoreboard"
            :items-per-page="usersPerPage"
            :hide-default-footer="true"
            :item-class="() => tableItemClass"
          >
            <template #[`item.username`]="{ item }">
              <ProfileLink :username="item.username" />
            </template>
          </v-data-table>
        </div>
        <div class="leaderboard__pagination-wrp">
          <v-pagination
            v-model="page"
            class="my-4"
            :length="numberOfPages"
            @input="handlePaginationInput"
          ></v-pagination>
        </div>
      </template>
    </Fetcher>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Fetcher from '@/components/Fetcher.vue';
import ProfileLink from '@/components/ProfileLink.vue';

import { IVuetifyTableHeader } from '@/index';
import { fetchScoreboard, IFetchScoreBoardReturns } from '@/api/scoreboard';

interface IData {
  headers: IVuetifyTableHeader[];
  usersPerPage: number;
  tableItemClass: string;
  page: number;
  totalCount: number;
}

interface IMethods {
  fetchScoreboard: any; // Хак из-за плохой интеграции Vue с TS
  handleSuccess: (data: IFetchScoreBoardReturns) => void;
  handlePaginationInput: (page: number) => void;
}

interface IComputed {
  numberOfPages: number;
}

interface IProps {}

const tableHeaderClass = 'leaderboard__table-header';

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    Fetcher,
    ProfileLink,
  },
  data() {
    return {
      tableItemClass: 'leaderboard__table-row',
      usersPerPage: 5,
      headers: [
        {
          text: 'Место',
          align: 'center',
          sortable: false,
          value: 'place_in_scoreboard',
          class: tableHeaderClass,
        },
        {
          text: 'Никнейм',
          align: 'center',
          sortable: false,
          value: 'username',
          class: tableHeaderClass,
        },
        {
          text: 'Очки',
          align: 'center',
          sortable: false,
          value: 'users_score',
          class: tableHeaderClass,
        },
      ],
      page: 1,
      totalCount: 3,
    };
  },
  head() {
    return {
      title: 'SCP | Таблица лидеров',
    };
  },
  computed: {
    numberOfPages() {
      return Math.round(this.totalCount / this.usersPerPage);
    },
  },
  methods: {
    fetchScoreboard,
    handleSuccess(data) {
      this.totalCount = data.num_of_users;
    },
    handlePaginationInput(page) {
      this.page = page;
    },
  },
});
</script>

<style lang="scss">
// отсутсвует scoped, так как с ним не удается
// изменить стили заголовков таблицы Vuetify
.leaderboard {
  &__table {
    &-header {
      & span {
        font-size: $font-size-mid;
        color: $color-font;
      }
    }
    &-wrp {
      background-color: $color-secondary-background;
      padding: 30px;
      border-radius: 10px;
    }
    &-row {
      td {
        font-size: $font-size-default !important;
      }
    }
  }
}
</style>
