<template>
  <div>
    <h2 class="page-title">Вход</h2>
    <div class="auth-form">
      <form @submit.prevent="sendForm">
        <v-text-field
          v-model="username"
          color="white"
          label="Никнейм"
          :rules="usernameRules"
          dense
          outlined
        />
        <v-text-field
          v-model="password"
          color="white"
          label="Пароль"
          dense
          outlined
          :rules="passwordRules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          @click:append="toggleShowPassword"
        />
        <div class="auth-form__buttons">
          <v-btn text nuxt to="/join">Зарегистрироваться</v-btn>
          <v-btn
            color="primary"
            :disabled="!allValidationsPass || loading"
            type="submit"
            :loading="loading"
            >Войти</v-btn
          >
        </div>
      </form>
      <v-alert v-if="error === 401" dense text type="error" class="mt-3">
        Неправильное имя пользователя или пароль
      </v-alert>
      <div class="forgot-password">
        <div>Забыли пароль ?</div>
        <a :href="`https://${telegram}`" target="_blank">Вам сюда</a>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { required, minLength } from 'vuelidate/lib/validators';

import { ILoginCreditinals } from '@/dataProvider';
import { LOGIN } from '@/store/auth';
import { GET_TELEGRAM } from '@/store/contacts';

interface IData {
  username: string;
  password: string;
  showPassword: boolean;
  loading: boolean;
  error: number;
  usernameRules: [() => any, () => any];
  passwordRules: [() => any, () => any];
}

interface IMethods {
  toggleShowPassword: () => void;
  sendForm: () => void;
}

interface IComputed {
  allValidationsPass: boolean;
  telegram: string;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  layout: 'without-header',
  data() {
    return {
      username: '',
      password: '',
      showPassword: false,
      loading: false,
      error: NaN,
      usernameRules: [
        () =>
          this.$v.username.required || 'Это поле обязательно для заполнения',
        () =>
          this.$v.username.minLength || 'Никнейм должен быть больше 4 символов',
      ],
      passwordRules: [
        () =>
          this.$v.password.required || 'Это поле обязательно для заполнения',
        () =>
          this.$v.password.minLength ||
          'Длина пароля должна состовлять более 8 символов',
      ],
    };
  },
  head() {
    return {
      title: 'SCP | Вход',
    };
  },
  validations: {
    username: {
      required,
      minLength: minLength(4),
    },
    password: {
      required,
      minLength: minLength(8),
    },
  },
  computed: {
    allValidationsPass(): boolean {
      return Boolean(
        this.$v.password.required &&
          this.$v.password.minLength &&
          this.$v.username.required &&
          this.$v.username.minLength
      );
    },
    telegram() {
      return this.$store.getters[GET_TELEGRAM];
    },
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = !this.showPassword;
    },
    async sendForm() {
      const loginCreditinals: ILoginCreditinals = {
        username: this.username,
        password: this.password,
      };

      this.loading = true;

      try {
        await this.$store.dispatch(LOGIN, loginCreditinals);

        this.$router.push('/');
      } catch (err) {
        this.error = err?.response?.status || NaN;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>
<style lang="scss" scoped>
.auth-form {
  max-width: 370px;
  width: 100%;
  background-color: $color-secondary-background;
  border-radius: 20px;
  margin: 10px auto;
  padding: 30px 15px;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
}

.forgot-password {
  text-align: center;
  margin-top: 20px;

  & > a {
    color: $color-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: $sm) {
  .auth-form {
    &__buttons button {
      width: 100%;
    }
  }
}
</style>
