<template>
  <div class="partners">
    <h1 class="page-title">Наши партнеры</h1>
    <Fetcher :api-method="fetchSponsors" @onSuccess="handleSuccessFetch">
      <PartnerList :partners="partners" />
    </Fetcher>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Fetcher from '~/components/Fetcher.vue';
import PartnerList from '~/components/PartnerList.vue';

import { fetchSponsors } from '~/api/sponsors';
import { ISponsor } from '~/dataProvider';

interface IData {
  partners: ISponsor[];
}

interface IMethods {
  fetchSponsors: any; // Хак из-за плохой интеграции Vue с TS
  handleSuccessFetch: (data: ISponsor[]) => void;
}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    PartnerList,
    Fetcher,
  },
  data() {
    return {
      partners: [],
    };
  },
  head() {
    return {
      title: 'SCP | Партнеры',
    };
  },
  methods: {
    fetchSponsors,
    handleSuccessFetch(data) {
      this.partners = data;
    },
  },
});
</script>
