<template>
  <div class="task-page">
    <Fetcher
      :api-method="fetchChallengeMarkup"
      :arguments="[shortname]"
      @onSuccess="handleSuccesTaskFetch"
    >
      <template #default>
        <h1 class="task-page__title">
          {{ task.title }}
          <v-btn
            rounded
            color="primary"
            dark
            class="task-page__writeups"
            nuxt
            :to="writeupsLink"
            >Другие решения</v-btn
          >
        </h1>
        <span class="task-page__date">Опубликовано: {{ prettyDate }}</span>
        <TaskHeader
          :is-completed="task.solved"
          :numbers-of-solved="task.solutions_num"
          :author="task.author"
          :first-to-solve="task.first_blood"
          :points="task.score"
          :tags="task.tags"
          :category="task.category"
          :difficulty="task.difficulty_tag"
          class="task-page__task-header"
        />
        <div class="task-page__tags">
          <span>Теги:</span>
          <BaseChip v-for="tag of task.tags" :key="tag">
            {{ tag }}
          </BaseChip>
        </div>
        <div class="task-page__description" v-html="task.text" />
        <form
          v-if="!task.solved"
          class="task-page__form"
          @submit.prevent="handleSubmit"
        >
          <v-text-field
            v-model="flag"
            placeholder="Введите флаг в формате flag{your_flag}"
            :error="isInvalid"
          ></v-text-field>
          <v-btn
            type="submit"
            color="primary"
            :loading="loading"
            :disabled="loading || !Boolean(flag)"
            >Отправить</v-btn
          >
        </form>
        <v-alert
          v-if="showAlert"
          class="mt-3"
          dense
          outlined
          dismissible
          :type="alertType"
        >
          {{ alertMessage }}
        </v-alert>
      </template>
      <template #error>
        <span class="task-page__error">
          <v-alert text prominent type="error">
            Такой задачи не существует
          </v-alert>
        </span>
      </template>
    </Fetcher>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

import TaskHeader from '@/components/TaskHeader.vue';
import Fetcher from '@/components/Fetcher.vue';
import BaseChip from '@/components/BaseChip.vue';

import { fetchChallengeMarkup, submitFlag } from '@/api/challenges';
import { prettyDate as fnPrettyDate } from '@/plugins/date-prettify';
import { ISingleChallenge } from '@/dataProvider';

interface IData {
  shortname: string;
  task: ISingleChallenge | null;
  flag: string;
  loading: boolean;
  showAlert: boolean;
  isInvalid: boolean;
}

interface IMethods {
  fetchChallengeMarkup: any; // Хак из-за плохой интеграции Vue с TS
  handleSuccesTaskFetch: (data: ISingleChallenge) => void;
  handleSubmit: () => void;
}

interface IComputed {
  prettyDate: string | undefined;
  alertMessage: string;
  alertType: 'success' | 'error';
  writeupsLink: string;
}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    TaskHeader,
    Fetcher,
    BaseChip,
  },
  data() {
    return {
      shortname: '',
      task: null,
      flag: '',
      loading: false,
      showAlert: false,
      isInvalid: false,
    };
  },
  computed: {
    prettyDate() {
      if (!this.task) return;

      return fnPrettyDate(this.task.challenge_created);
    },
    alertMessage() {
      return this.isInvalid
        ? 'Вы ввели неправильный флаг'
        : `Поздравляем! Вы ввели правильный флаг и получаете ${this.task?.score} баллов`;
    },
    alertType() {
      return this.isInvalid ? 'error' : 'success';
    },
    writeupsLink() {
      return `${this.shortname}/writeups`;
    },
  },
  created() {
    this.shortname = this.$route.params.shortname;
  },
  methods: {
    fetchChallengeMarkup,
    handleSuccesTaskFetch(data) {
      this.task = data;
    },
    async handleSubmit() {
      this.loading = true;
      this.showAlert = false;
      this.isInvalid = false;
      try {
        const { data } = await submitFlag({
          flag: this.flag.trim(),
          shortname: this.shortname,
        });

        data.challenge.solved = true;

        this.task = data.challenge;

        if (data.flag) {
          this.flag = '';
          return;
        }

        this.isInvalid = true;
      } finally {
        this.loading = false;
        this.showAlert = true;
      }
    },
  },
});
</script>
<style lang="scss">
// Убрал scoped т.к стили не применялись
.task-page {
  margin-top: 40px;
  margin-bottom: 40px;

  &__title {
    font-size: $font-size-big;
    margin-bottom: 0;
  }

  &__date {
    font-size: $font-size-small;
    margin-bottom: 20px;
    display: block;
  }

  &__task-header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__description {
    margin-top: 20px;
    text-align: left;
  }

  &__tags {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > span {
      font-weight: bold;
    }

    & > .chip {
      margin-left: 15px;
    }
  }

  &__writeups[class] {
    font-size: 10px;
    font-weight: bold;
  }

  &__error {
    font-size: $font-size-mid;
    font-weight: bold;
  }
}
</style>
