<template>
  <div class="writeups">
    <h1 class="page-title">Решения задачи</h1>
    <h2 class="writeups__task-name">
      <nuxt-link :to="{ path: `/tasks/${shortname}` }">
        “{{ task && task.title }}”
      </nuxt-link>
    </h2>
    <div class="row">
      <p
        class="col-12 writeups__task-description"
        v-html="task && task.text"
      ></p>
      <div class="col-12 writeups__button-wrp">
        <v-btn color="primary" @click="showModal = true">
          <span class="writeups__button-text"> Добавить решение </span>
        </v-btn>
      </div>
    </div>
    <hr class="writeups__line" />
    <AddWriteupModal
      v-if="showModal"
      @onCloseModal="handleCloseModal"
      @onCreate="handleCreate"
    />
    <div v-if="writeups.length === 0" class="text-center display-1 mb-3">
      Пока ещё нет ни одного решения!
    </div>
    <WriteupCardList
      v-else
      :writeups-per-page="1"
      :total-count="4"
      class="mt-3"
      :writeups="writeups"
      @onDelete="handleDelete"
      @onIncrease="handleIncrease"
      @onDecrease="handleDecrease"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import WriteupCardList from '@/components/WriteupCardList.vue';
import AddWriteupModal from '@/components/AddWriteupModal.vue';

import { ISingleChallenge, IWriteup } from '@/dataProvider';
import {
  fetchWriteups,
  createWriteup,
  deleteWriteup,
  updateScore,
} from '@/api/writeups';
import { fetchChallengeMarkup } from '@/api/challenges';
import { showToast } from '@/utils/toast';

interface IData {
  showModal: boolean;
  task: ISingleChallenge | null;
  writeups: IWriteup[];
  shortname: string;
}

interface IMethods {
  handleCloseModal: () => void;
  handleCreate: (text: string) => void;
  handleOpenModal: () => void;
  handleDelete: (shortname: string) => void;
  getWriteups: () => void;
  handleIncrease: (options: { author: string; shortname: string }) => void;
  handleDecrease: (options: { author: string; shortname: string }) => void;
}

interface IComputed {}

interface IProps {}

export default Vue.extend<IData, IMethods, IComputed, IProps>({
  components: {
    WriteupCardList,
    AddWriteupModal,
  },
  data() {
    return {
      showModal: false,
      task: null,
      shortname: '',
      writeups: [],
    };
  },
  head() {
    return {
      title: 'SCP | Решения',
    };
  },
  created() {
    this.getWriteups();
  },
  methods: {
    handleCloseModal() {
      this.showModal = false;
    },
    handleOpenModal() {
      this.showModal = true;
    },
    async handleCreate(text) {
      try {
        const { data } = await createWriteup({
          challenge_shortname: this.shortname,
          text,
        });

        data.is_owner = true;

        this.writeups.push(data);
      } catch (error) {
        const errorMessage = error?.response?.data?.detail;
        if (errorMessage === 'you already write writeup') {
          showToast({
            timeout: 5000,
            text:
              'Вы не можете добавить новое решение так, как вы уже создали одно!',
            top: true,
          });
        }
      }
    },
    async handleDelete(shortname) {
      try {
        await deleteWriteup(shortname);

        this.getWriteups();
      } catch (error) {
        console.error(error);
      }
    },
    async getWriteups() {
      const shortname = this.$route.params.shortname;
      const {
        data: { writeups },
      } = await fetchWriteups(shortname);

      const { data } = await fetchChallengeMarkup(shortname);

      this.task = data;

      this.writeups = writeups;

      this.shortname = shortname;
    },
    async handleIncrease({ author, shortname }) {
      try {
        const {
          data: { writeup },
        } = await updateScore({
          challenge_shortname: shortname,
          author,
          value: 1,
        });

        this.writeups = this.writeups.map((w) => {
          if (w._id === writeup.id) {
            return writeup;
          }
          return w;
        });
      } catch (error) {
        const errorMessage = error?.response?.data?.detail;
        if (errorMessage === 'user has already rated') {
          showToast({
            timeout: 5000,
            text: 'Вы уже оценили это решение',
            top: true,
          });
        }
      }
    },
    async handleDecrease({ author, shortname }) {
      try {
        const {
          data: { writeup },
        } = await updateScore({
          challenge_shortname: shortname,
          author,
          value: -1,
        });

        this.writeups = this.writeups.map((w) => {
          if (w._id === writeup.id) {
            return writeup;
          }
          return w;
        });
      } catch (error) {
        const errorMessage = error?.response?.data?.detail;
        if (errorMessage === 'user has already rated') {
          showToast({
            timeout: 5000,
            text: 'Вы уже оценили это решение',
            top: true,
          });
        }
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.writeups {
  &__task {
    &-name {
      font-size: $font-size-big;
      color: $color-font;
      text-align: center;
      margin: 0 0 10px 0;
    }
    &-description {
      margin: 0;
    }
  }
  &__button {
    &-wrp {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
    }
    &-text {
      font-weight: bold;
    }
  }
  &__line {
    margin: 20px 0 30px 0;
    height: 4px;
    background-color: $color-secondary-background;
    border: $color-secondary-background;
  }
}
</style>
